<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fire Stations Locator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <h3>Welcome Here </h3>
  <p>For getting location and other contact information kindly refer to get stations page use below button.</p>
</div>

<div class="container">
  <h1>Click the button below to redirect to region selection page.</h1>
  <form action="/getregions">
      <button type="submit" class="btn btn-primary" id = "getService">Find Stations</button>
  </form>
</div>

</body>
</html>
